.form > div div {
  width: 100%;
}
#app {
  min-height: 100vh;
}
.form {
  display: flex;
  margin: auto;
  width: max-content;
  height: calc(100vh - 54.5px);
  flex-direction: column;
  justify-content: center;
}
.form > * {
  max-width: 350px;
}

.field {
  margin: 0.3rem 0 !important;
}

input[type='file'] {
  cursor: pointer;
}

input[type='file']::file-selector-button {
  opacity: 0;
}

.Box {
  margin-top: 50px;
}
